<% comments.each do |comment|%>
  <div class="comment mb-2" id="comment-<%= comment.id%>">
    <div class="card">
      <%= link_to comment.user.full_name, profile_path(comment.user.username) %>
      <%= simple_format comment.message, class: "mb-0 p-1"%>
      <% if current_user && comment.user.id == current_user.id %>
        <div class="edit-delete-comment">
          <%= link_to "編集", edit_comment_path(comment), remote: true %>
          <%= link_to "削除", comment, method: :delete, data: { confirm: "削除してもよろしいですか？"}, remote: true %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>