<% posts.each do |post| %>
  <div class="card p-3 mb-3 ">
    <div class="row">
      <div class="col-1 text-center">
        <div id="vote-actions-<%= post.id %>" class="vote" data-id-type='["<%= post.id %>", "<%= post.class %>"]'>
          <div class="fas fa-arrow-up upvote <%= is_upvoted(post) %>"></div>
          <span class="fw-bold score"><%= post.score %></span>
          <div class="fas fa-arrow-down downvote <%= is_downvoted(post) %>"></div>
        </div>
      </div>
      <div class="col-11">
        <h4 class="mb-0"><%= link_to post.title, community_post_path(post.community_id, post) %></h4>
        <p><small><%= link_to post.community.name, community_path(post.community_id) %> 作成者<%= link_to post.user.full_name, profile_path(post.user.username) %> <%= time_ago_in_words post.created_at %>前に作成</small></p>
        <p><%= truncate post.body, length: 200 %></p>
      </div>
    </div>
  </div>
<% end %>