<%= search_form_for @q do |f| %>
  <div class="row g-3">
    <div class="col-auto">
      <%= f.label :name_cont, 'コミュニティ名検索', class: "form-label" %>
    </div>
    <div class="col-5">
      <%= f.search_field :name_cont, class: "form-control mr-3" %>
    </div>
    <div class="col-auto">
      <%= f.submit class: "btn btn-outline-primary" %>
    </div>
  </div>
<% end %>

<div class="row justify-content-between mt-5">
  <div class="col-7">
    <% @communities.each do |community| %>
    <div class="card mb-3 p-3">
      <h3><%= link_to community.name, community %></h3>
      <%= simple_format community.description %>
    </div>
    <% end %>
  </div>
  <div class="col-3">
    <% if user_signed_in?%>
      <div class="float-end">
        <%= link_to "コミュニティを作成する", new_community_path, class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>

<div class="mb-3">
  <%= paginate @communities %>
  <%= page_entries_info @communities %>
</div>