<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/header" %>
    <div class="bg-light">
      <div class="container">
        <% if notice %>
          <p class="notice alert alert-success mb-0"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger mb-0"><%= alert %></p>
        <% end %>
      </div>
    </div>
    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 pt-4">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
